/*
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
4. Tipografía --> tipos, tamaños de fuente, etc
5. Estilos visuales --> box-shadow, border-radius, gradient, etc
6. Otros --> reglas CSS y más
*/


:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black:#201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --just-white: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: auto;
   
}


header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 151px;
    height: 24px;
    margin-top: 74px;
    align-self: center;
}

.hedear--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 40px;
    height: 218px;
    text-align: center;
    align-self: center;
}

.hedear--title-container h1 {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4em;
    line-height: 26px;
    color: var(--just-white);
}
.hedear--title-container p {
    font-style:normal;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.8em;
    color: var(--soft-orange)
}

.hedear--title-container .hedear--button {
    position: absolute;
    top: 270px;
    left: calc(50% - 118px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    color:var(--black);
}

.hedear--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background: url(./asests/icons/Vector.svg);
}

main {
    width: 100%;
    height: auto;
    background-color:var(--off-white) ;
}

.main-exchange-container .main-exchange-container--title {
    margin: 0 auto;
    
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;

}

.main-exchange-container--title {
    width: 90%;
    min-width: 320px;
    max-width: 900px;

}

.backgroundImg {
    width: 200px;
    height: 200px;
    margin:0 auto;
    margin-bottom: 50px;
    background-image: url(./asests/images/Bitcoin.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}


.main-exchange-container--title h2 {
    margin-bottom: 30px;
    font-size: 2.4em;
    font-weight: bold;
    color: var(--warm-black);
    line-height: 1.6em;
    text-align: center;
    
       
}
.main-exchange-container--title p {
    margin-bottom: 30px;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.6em;
    color: #757575;
    text-align: center;
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.34rem;
    color:var(--bitcoin-orange);
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;

}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0 ;
}

.currency-table--container .table__top-right {
    border-radius:  0 15px 0 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__bottom-right {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__right {
    font-size: 1.em;
    font-weight: normal;
    line-height: 1.7em;
    color: #757575;
}

.currency-table--date  {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table--date p {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 300;
    color: var(--warm-black);

}

.main-product-detail {
    height: auto;
    position: relative;
    min-width: 320px;
    width: 100%;
    padding: 20px 10px;
    background-color:var(--warm-black) ;
}

.main-product-detail .product-detail--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -11px;
    left: calc(50% - 20px);
    background-image: url(/asests/images/batata-logo.svg);
    
}


.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4em;
    font-weight:bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: #808080

}

.product-details--card {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin:  15px auto;
    background: var(--warm-black); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 10px;
}

.product-details--card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./asests/icons/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.product--card-title {
    margin-bottom: 15px;
    font-size:1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white) ;
}

.product--card-body {
    margin-bottom: 15px;
    font-size: 1.4em;
    line-height: 1.8rem;
    font-weight: normal;
    color: #808080;
}

.product-details--cardsub2  {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin:  20px auto;
    background: var(--warm-black); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 10px;
    
}
.product-details--cardsub2 .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./asests/icons/Copia\ de\ eye.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.product-details--cardsub3  {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin:  20px auto;
    background: var(--warm-black); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 10px;
    
}
.product-details--cardsub3 .money {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./asests/icons/Copia\ de\ dollar-sign.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.product-details--cardsub4  {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin:  20px auto;
    background: var(--warm-black); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 10px;
    
}

.product-details--cardsub4 .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./asests/icons/Copia\ de\ check-circle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh ;
    background-image: url(./asests/images/bitcoinbaby2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-bottom : 70px; 
    text-align: center;
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    
    
}

.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
    padding-top: 50px;
}

    
.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    
}

.plans-container--slider {
    display: flex;
    gap: 10px;
    height: 320px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    
}

.plans-container--card {
    position: relative;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);

}

.recommended {
    position: absolute;
    left: calc(50% - 60px);
    width: 120px;
    top: -15px;
    height: 31px; 
    background-color: var(--bitcoin-orange);
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-radius: 8px;
    text-align: center;
    color: var(--just-white);
    padding: 5px;
}

.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    color:black

}

.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    line-height: 5.0rem;
    color:black;
}

.plan-card--price span {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    vertical-align: 25px;
}

.plan-card--saving {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    color: #757575;
}

.plan-card-ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    font-family: 'DM Sans', sans-serif;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
} 

.plan-card-ca span {
    display: inline-block;
    width: 24px;
    height: 17px;
    background-image: url(./asests/icons/orange-right-arrow.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

.recommended-card-mensual {
    background-color: #1DB954;

}
.plans-container-mensual {
    box-shadow: 0px 4px 8px #1DB954;
}

.plan-card-ca-mensual {
    border: solid 2px#1DB954 ;
}

.recommended-card-semanal {
   background-color: #0000e6;
}

.plans-container--card-semanal {
    box-shadow: 0px 4px 8px #0000e6;

}

.plan-card-ca-semanal {
    border: solid 2px #0000e6;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.footer-left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.footer-left li {
    margin: 10px 0;
    

}

.footer-left a {
    text-decoration: none;
    color: var(--just-white);
}